.dialog_content {
  display: flex;
  flex-flow: row;

  .dialog_time_box {
    width: 140px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-image: url("/icons/svg/UID/reportstep.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 106px 612px;

    .dialog_time {
      width: inherit;
      height: 162px;
      display: flex;
      flex-flow: column;
      justify-content: space-between;

      .dialog_time_item {
        width: inherit;
      }
    }
  }

  .dialog_form {
    flex: 1;
    display: flex;
    flex-flow: row;

    .dialog-form {
      flex: 1;
      margin-left: 40px;
      margin-right: 27px;
      //margin-left: 80px;
      //margin-right: 110px;
      .title {
        font-size: 14px;

        &::before {
          content: '';
          width: 16px;
          height: 16px;
          vertical-align: -2px;
          display: inline-block;
          border-radius: 8px;
          margin-right: 10px;
          background-color: #29CB97 !important;
        }
      }
    }

    .media {
      width: 375px;

      .title {
        font-size: 14px;

        &::before {
          content: '';
          width: 16px;
          height: 16px;
          vertical-align: -2px;
          display: inline-block;
          border-radius: 8px;
          margin-right: 10px;
          background-color: #29CB97 !important;
        }
      }

      .map {
        width: 374px;
        height: 238px;
        margin-top: 24px;
        margin-bottom: 34px;
        background-color: #F2F6FC;
      }

      .carousel-box {
        margin-top: 24px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 20px 26px;
        background-color: #F2F6FC;

        .carousel {
          width: 298px;
          height: 161px;
          background-color: #ebeef5;
        }

        .file_box {
          position: relative;

          .up_load_input {
            width: calc(303px - 37px) !important;
            margin-left: 2.5px;
          }
        }

        .file-list {
          width: 303px;
          height: 58px;
          margin-top: 8px;
          overflow-x: hidden;
          overflow-y: auto;

          .event-img {
            width: 70px;
            height: 50px;
            border-radius: 2px;
            margin: 0 2.5px 5px;
          }
        }
      }
    }
  }
}

.mu-box.event-box,
.mu-box.flow-box {
  .details-dialog {
    .check-means {
      padding: 0;
      margin-left: 40px;
      margin-right: 19px;
      margin-top: 28px;

      .check-way {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;

        .means-box {
          height: 38px;
          display: flex;
          flex-flow: row;
          justify-content: flex-start;
          align-items: center;
          margin-right: 47px;

          &:last-child {
            margin-right: 0 !important;
          }

          .means-label {
            height: 38px;
            color: #748AA1;
            line-height: 38px;
            margin-left: 15px;
          }
        }

      }
    }
  }
}

.mu-box.flow-box {
  .str2-dialog {
    .node-3 {
      height: 267px !important;
      margin-left: 0 !important;
    }
  }

  .str3-dialog {
    .node-3 {
      height: 295px !important;
      margin-left: 0 !important;
    }

    .department {
      margin-top: 30px !important;
      margin-left: 40px !important;

      .handle-list {
        padding: 31px 20px !important;
        //margin-left: 0 !important;
        //margin-right: 27px !important;
        //width: auto !important;
        //flex: 1;
        .handle-list-item {
          &:last-child {
            margin-bottom: 0;
          }
        }

        .result-card {
          flex: 1;
          height: 50px;
          background-color: #F2F6FC;
          display: flex;
          flex-flow: row;
          justify-content: center;
          position: relative;

          .result-card-content {
            text-align: left;
            width: 90px;
            height: 50px;
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
            align-items: center;

            .result-card-icon {
              width: 20px;
              height: 20px;
            }

            .state {
              display: inline-block;
              margin-left: 13px;
              font-size: 14px;
            }

            .state-white {
              color: #FFFFFF;
            }

            .state-dark {
              color: #606266;
            }

            .state.dp-name-check {
              color: #606266;
            }
          }

          .link-span {
            position: absolute;
            right: 13px;
            top: 16px;
            text-decoration: underline;
            color: #1588c9;
            cursor: pointer;
          }
        }
      }

      .handle-notes {
        display: block;
        height: 330px;
        width: 92%;
        margin: 0 auto;
        //margin-left: 40px;
        border-color: transparent !important;
        white-space: nowrap;
        overflow-x: auto;

        &::-webkit-scrollbar {
          display: block;
        }

        //width: ;
        .handle-notes-items {
          display: inline-flex;
          flex-flow: column;
          width: 240px;
          height: 300px;
          margin-right: 19px;
          //DCDFE6
          border: 1px solid #33393F !important;

          &:last-child {
            margin-right: 0;
          }

          .handle-notes-title {
            width: 100%;
            line-height: 40px;
            background-color: #F2F6FC;
            color: #748AA1;
            text-align: center;
            display: block;
            padding-left: 18px;
            font-size: 14px;
            overflow: hidden;

            .notes-title-btn {
              float: right;
              margin-top: 2px;
              margin-right: 15px;
            }
          }

          .handle-notes-list {
            flex: 1;
            padding: 10px;
            overflow-y: auto;

            .handle-notes-msg-item {
              box-sizing: border-box;
              padding: 5px;
              border: 1px solid rgba(0, 0, 0, 0);
              //748AA1
              border-radius: 5px;

              &:hover {
                border: 1px solid #748AA1;
              }
            }

            .handle-notes-msg-item-active {
              border: 1px solid #748AA1 !important;
            }


            .notes-list-item {
              margin-bottom: 30px;

              span {
                font-size: 12px;
                line-height: 12px;
                color: #FFFFFF;

                &:first-child {
                  display: inline-block;
                  //width: 56px;
                  text-align: left;
                }
              }

              p {
                margin-top: 8px;
                color: #748AA1;
                line-height: 12px;
                font-size: 12px;
              }
            }

            .notes-list-item.notes-list-dark {
              span, p {
                color: #516983;
              }
            }
          }
        }
      }
    }

    .department-handle-plus {
      margin-bottom: 25px;
      margin-top: 10px;
      line-height: 32px;
      font-size: 16px;
      text-align: center;
      width: 100%;
      text-decoration: underline;
    }
  }

  .str3-dialog.str3-dialog.str4-dialog {
    .node-3 {
      height: 267px !important;
      margin-left: 0 !important;
    }
  }

  .dp-time-form {
    .dp-time-btn {
      text-align: center;
      margin-top: 20px;
    }
  }

  .flow-check-form {
    .flow-check-form-item {
      margin-bottom: 40px !important;
    }

    .flow-check-form-item-mini {
      margin-bottom: 28px !important;
    }

    .flow-check-tag {
      margin-bottom: 40px;
      background-color: #B558F6;
      border-color: #B558F6;
      color: #FFFFFF;
    }
  }
}

.mu-box.flow-box {
  .dialog_content {
    .dialog_form {
      .dialog-form {
        width: 710px;
      }
    }
  }

  .structure-2 {
    padding-left: 120px;
    position: relative;

    .department {
      margin-top: 50px;
      //display: flex;
      //flex-flow: row;
      //justify-content: flex-start;
      .drag-border-box,
      .drop-border-box {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;

        label {
          margin: 0 15px 0 40px;
          //width: 16px;
          //font-size: 16px;
          //line-height: 20px;
          display: inline-block;
        }

        .drag-border,
        .drop-border {
          display: inline-block;
          width: 480px;
          border: 1px solid #DCDFE6;
          border-radius: 2px;
          padding: 10px 10px 0;
          overflow-y: auto;

          .drag-border-col,
          .drop-border-col {
            margin-bottom: 10px;
            //&:last-child {
            //  margin-bottom: 0;
            //}
            .drag-border-card,
            .un-drag-border-card,
            .drop-border-card,
            .un-drop-border-card {
              height: 40px;
              line-height: 40px;
              text-align: center;
            }

            .un-drag-border-card,
            .un-drop-border-card {
              color: #667E9D;
            }
          }
        }

        .drag-border {
          height: 170px;
        }

        .drop-border {
          height: 70px;
        }
      }

      .handle-list {
        //width: 704px;
        display: block;
        width: 92%;
        margin: 0 auto;
        margin-bottom: 20px;
        border: 1px solid #DCDFE6;
        border-radius: 2px;
        //margin: 0 0 0 20px;
        height: 255px;
        padding: 28px 18px;
        overflow-y: auto;

        .handle-list-item {
          display: flex;
          flex-flow: row;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 20px;

          .dp-title,
          .dp-title-2,
          .dp-title-3 {
            display: inline-block;
            font-size: 14px;
            line-height: 20px;
            width: 50px;
            height: 50px;
            text-align: center;
            border-radius: 4px;
            margin-right: 20px;
          }

          .dp-title {
            padding: 5.5px 11px;
            background-color: #4072EE;
            color: #FFFFFF;
          }

          .dp-title-2 {
            padding: 5.5px 11px;
            background-color: #29CB97;
            color: #FFFFFF;
          }

          .dp-title-3 {
            padding: 5.5px 9px;
            background-color: transparent;
            border: 1px solid #29CB97;
            color: #29CB97;
          }

          .dp-name {
            width: 130px;
            height: 50px;
            background-color: #292E33;
            border-radius: 2px;
            font-size: 14px;
            color: #fff;
            line-height: 50px;
            text-align: center;
            margin-right: 20px;
            font-weight: normal;
          }

          .dp-name.dp-name-check {
            color: #606266;
          }
        }
      }
    }

    .dialog-footer {
      margin: 60px 0 30px !important;
    }
  }

  .structure-4 {
    position: relative;

    .department {
      margin-top: 50px;
      //display: flex;
      //flex-flow: row;
      //justify-content: flex-start;
      .drag-border-box,
      .drop-border-box {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;

        label {
          margin: 0 15px 0 40px;
          width: 16px;
          font-size: 16px;
          line-height: 20px;
          display: inline-block;
        }

        .drag-border,
        .drop-border {
          display: inline-block;
          width: 480px;
          border: 1px solid #DCDFE6;
          border-radius: 2px;
          padding: 10px 10px 0;
          overflow-y: auto;

          .drag-border-col,
          .drop-border-col {
            margin-bottom: 10px;
            //&:last-child {
            //  margin-bottom: 0;
            //}
            .drag-border-card,
            .un-drag-border-card,
            .drop-border-card,
            .un-drop-border-card {
              height: 40px;
              line-height: 40px;
              text-align: center;
            }

            .un-drag-border-card,
            .un-drop-border-card {
              color: #667E9D;
            }
          }
        }

        .drag-border {
          height: 170px;
        }

        .drop-border {
          height: 70px;
        }
      }

      .handle-list {
        //width: 704px;
        display: block;
        width: 88%;
        margin: 0 auto;
        margin-bottom: 20px;
        border: 1px solid #DCDFE6;
        border-radius: 2px;
        //margin: 0 0 0 20px;
        height: 255px;
        padding: 28px 18px;
        overflow-y: auto;

        .handle-list-item {
          display: flex;
          flex-flow: row;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 20px;

          .dp-title,
          .dp-title-2,
          .dp-title-3 {
            display: inline-block;
            font-size: 14px;
            line-height: 20px;
            width: 50px;
            height: 50px;
            text-align: center;
            border-radius: 4px;
            margin-right: 20px;
          }

          .dp-title {
            padding: 5.5px 11px;
            background-color: #4072EE;
            color: #FFFFFF;
          }

          .dp-title-2 {
            padding: 5.5px 11px;
            background-color: #29CB97;
            color: #FFFFFF;
          }

          .dp-title-3 {
            padding: 5.5px 9px;
            background-color: transparent;
            border: 1px solid #29CB97;
            color: #29CB97;
          }

          .dp-name {
            width: 130px;
            height: 50px;
            background-color: #606266;
            border-radius: 2px;
            font-size: 14px;
            color: #F2F6FC;
            line-height: 50px;
            text-align: center;
            margin-right: 20px;
            font-weight: normal;
          }

          .dp-name.dp-name-check {
            color: #606266;
          }
        }
      }
    }

    .el-col {
      margin-bottom: 15px;
      height: 50px;
    }

    .dialog-footer {
      margin: 0px 0 30px !important;
    }
  }

  .structure-2.structure-3 {
    .dialog-footer {
      margin: 18px 0 30px !important;
    }
  }
}

.mu-box.org-box {
  .org-card {
    padding: 20px;
    flex: 2;
    margin-left: 40px;
    overflow-y: auto;
  }
}

.details-dialog {
  //position: relative;
  .dialog_time_box,
  .dialog_time_box_1,
  .dialog_time_box_2,
  .dialog_time_box_3,
  .dialog_time_box_4 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 140px;
    background-color: #F2F6FC;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 106px 612px;
  }

  .dialog_time_box {
    background-image: url("/icons/svg/UID/acceptance.png");
  }

  .dialog_time_box_1 {
    background-image: url("/icons/svg/UID/feedback.png");
  }

  .dialog_time_box_2 {
    background-image: url("/icons/svg/UID/feedback.png");
  }

  .dialog_time_box_3 {
    background-image: url("/icons/svg/UID/check.png");
  }

  .dialog_time_box_4 {
    background-image: url("/icons/svg/UID/evaluate.png");
  }

  .el-dialog__header {
    padding-left: 60px !important;
  }

  .dialog_content.details-content {
    .dialog_form {
      .dialog-form {
        margin-left: 40px;
        margin-right: 27px;
      }
    }
  }
}

.details-dialog-1 {
  .el-dialog__header {
    text-align: center;
  }

  .dialog_content.details-content {
    .dialog_form {
      .dialog-form {
        margin-left: 40px;
        margin-right: 27px;
      }
    }
  }
}

