.mu-box .btn-box {
  margin: 0 0 26px;
}
.mu-box .btn-flex {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.mu-box .el-button i {
  font-weight: bold;
}
.mu-box .dlm-flex {
  height: calc(100vh - 190px);
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.mu-box .el-tree {
  height: calc(100vh - 190px);
  overflow-y: auto;
}
.mu-box .el-tree-node__content {
  padding: 26px;
  font-size: 14px;
}
.mu-box .custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.mu-box .components-container {
  position: relative;
  height: calc(100vh - 104px);
  margin: 0 !important;
}
.mu-box .no-marge {
  margin-right: 0 !important;
}
.mu-box .top-container {
  background-color: #FCE38A;
  width: 100%;
  height: 100%;
}
.mu-box .bottom-container {
  width: 100%;
  background-color: #95E1D3;
  height: 100%;
}
.mu-box .splitter-pane-resizer.vertical {
  margin-left: -10px !important;
}
.pm-box .pagination-container {
  padding: 10px !important;
}
.task-form-box .el-button {
  margin: 0 10px 10px 0 !important;
}
.task-form-box .el-button+.el-button {
  margin: 0 10px 10px 0 !important;
}
.task-form-box .el-button:last-child {
  margin: 0 0 10px 0 !important;
}
.mu-box .el-dialog .el-input,
.mu-box .el-dialog .el-select {
  width: 100% !important;
}
.mu-box .el-dialog__body {
  padding: 20px 20px 30px !important;
}
.mu-box .el-card__body {
  padding: 0 !important;
}
.mu-box .form-footer-btn,
.mu-box .dialog-footer {
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 0 !important;
}
.mu-box .el-dialog .el-form-item__label {
  line-height: 14px !important;
}
.mu-box .pagination-container,
.mu-box .el-pagination {
  padding: 0 !important;
  margin-top: 26px !important;
}
.mu-box .vue-splitter-container {
  height: calc(100vh - 158px) !important;
}
.panel-group {
 margin-top: 0 !important;
}

/*处置流程*/
/*筛选表单*/
.event-box .el-form {
  padding: 15px 15px 10px;
}

.flow-box .el-dialog .el-form {
  padding: 15px 15px 10px;
  /*padding: 28px 25px 12px;*/
}

.mu-box.event-box .el-dialog .el-form-item--mini.el-form-item,
.mu-box.flow-box .el-dialog .el-form-item--mini.el-form-item {
  margin-bottom: 60px;
}
.mu-box.event-box .details-dialog .dialog_content.details-content .el-form,
.mu-box.flow-box .details-dialog .dialog_content.details-content .el-form {
  border: 2px solid #DCDFE6;
  border-radius: 2px;
  margin-top: 24px;
  background-color: #F2F6FC;
}


.mu-box.event-box .details-dialog .dialog_content.details-content .el-form {
  height: 580px;
}

.mu-box.flow-box .details-dialog .dialog_content.details-content .el-form {
  height: 635px;
}

.mu-box.flow-box .details-dialog .el-dialog__header {
  padding-left: 180px !important;
}

.mu-box.event-box .details-dialog .dialog_content.details-content .el-form-item--mini.el-form-item,
.mu-box.flow-box .details-dialog .dialog_content.details-content .el-form-item--mini.el-form-item {
  margin-bottom: 40px;
}
.mu-box.event-box .details-dialog .check-means .el-form-item--mini.el-form-item,
.mu-box.flow-box .details-dialog .check-means .el-form-item--mini.el-form-item {
  margin-bottom: 0;
}
.mu-box.event-box .details-dialog .check-means .el-form-item--mini.el-form-item .el-radio,
.mu-box.flow-box .details-dialog .check-means .el-form-item--mini.el-form-item .el-radio {
 line-height: 28px;
}
/*!*.mu-box.event-box .details-dialog .check-means .el-form-item__content,*!*/
/*.mu-box.flow-box .details-dialog .check-means .el-form-item__content {*/
/*  display: flex;*/
/*  flex-flow: row;*/
/*  justify-content: flex-start;*/
/*}*/
.mu-box.event-box .details-dialog .check-means .el-image,
.mu-box.flow-box .details-dialog .check-means .el-image {
  width:38px;
  height:38px;
}
.event-box .el-form-item {
  display: flex;
}
.mu-box.event-box .el-form-item__label,
.mu-box.flow-box .el-form-item__label {
  line-height: 28px !important;
}
.event-box .el-form-item__content {
  flex: 1;
  margin: 0 !important;
}
.event-box .el-select,
.event-box .el-date-editor--datetimerange.el-input__inner,
/*弹窗内表单项宽度*/
.event-box .el-dialog .el-select,
.event-box .el-dialog .el-date-editor--datetimerange.el-input__inner,
.flow-box  .el-dialog .el-select,
.flow-box .el-dialog .el-date-editor--datetimerange.el-input__inner {
  width: 100% !important;
}
.event-box .el-dialog__header .el-dialog__title::before,
.flow-box .el-dialog__header .el-dialog__title::before {
  display: none !important;
}
.mu-box.event-box .el-dialog__header,
.mu-box.flow-box .el-dialog__header {
  padding-top: 14px !important;
}
.mu-box.event-box .el-upload-list--picture-card .el-upload-list__item,
.mu-box.flow-box .el-upload-list--picture-card .el-upload-list__item {
  width: 70px;
  height: 50px;
  border-radius: 2px;
  margin: 0 2.5px 5px;
}
.mu-box.event-box .el-upload--picture-card,
.mu-box.flow-box .el-upload--picture-card {
  background-color: transparent;
  border: none;
  width: 28px;
  height: 28px;
  line-height: 28px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.event-box .el-carousel__indicators--vertical,
.flow-box .el-carousel__indicators--vertical {
  opacity: 0.3 !important;
}

.mu-box.flow-box .el-dialog .dp-time-form .el-form-item--mini.el-form-item {
  margin-bottom: 28px !important;
}

.mu-box.flow-box .el-dialog .dp-time-form .el-form-item--mini.el-form-item:last-child {
  margin-bottom: 0;
}
