//color
$--color-primary: #4072EE !default;
$--color-success: #29CB97 !default;
$--color-success-dark: #25886A !default;
//border
$--border-color-base: #33393F !default;
$--color-text-secondary: #909399 !default;
$--color-text-placeholder: #606266 !default;
$--border-color-light: #A4A4A4 !default;
// sidebar
$menuText: #C0C4CC;
$menuActiveText: #ffffff;
$subMenuActiveText: #4C7EF1;
$menuActiveBg: #4C7EF1;
$subMenuActiveBg: #292E33;
$menuBg: #16191C;
$menuHover: #4C7EF1;
$subMenuBg: #16191C;
$subMenuHover: #4C7EF1;
$sideBarWidth: 210px;
//navbar
$navBarBg: #1F2327;
